.docHeaderWrapper {
  display: flex;
  justify-content: space-between;
  background-color: var(--grey);
  padding: 4px 8px;
}

.docHeader {
  display: flex;
}

.docHeaderItem {
  cursor: pointer;
  padding: 4px 8px;
}

.docHeaderItemSelected {
  border-radius: 3px;
}

.docHeaderItemSelected .header-1 {
  color: var(--greyVeryLight);
}

.userWrapper {
  display: flex;
  align-items: center;
}

.userName {
  color: var(--greyVeryLight);
}

.logoutLink {
  text-decoration: none;
  color: var(--blue);
  margin-left: 4px;
}
