.buttonsWrapper {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 5px;
}

.buttonsWrapper * {
	margin-right: 5px;
}

.buttonsWrapperEnd {
	justify-content: flex-end;
}

.button {
    font-size: 16px;
    color: var(--greyDark);
	cursor: pointer;
    padding: 5px 10px;
    border-radius: 3px;
}

.button:disabled {
	cursor: default;
	border-color: var(--greyLight);
	background: var(--greyVeryLight);
}

.buttonSubmit {
	border-color: var(--greenLight);
	background: var(--greenLight);
}

.buttonInfo {
	border-color: var(--blueLight);
	background: var(--blueLight);
}

.buttonDanger {
	border-color: var(--red);
	background: var(--red);
}

.loginFormHeader {
	font-weight: normal;
	color: var(--greyDark);
}

.loginFormWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80vh;
}

.loginForm {
	padding: 20px;
	border: 1px solid var(--greyLight);
	border-radius: 3px;
}

.label {
    width: 100px;
    display: inline-block;
}

.required:after {
    content:" *";
    color: var(--red);
}

.error {
	border: 1px solid var(--red);
}
