.docHeaderWrapper {
  display: flex;
  justify-content: space-between;
}

.docHeader {
  display: flex;
}

.docHeaderItem {
  cursor: pointer;
  padding: 10px 15px;
}

.docHeaderItemSelected {
  background: var(--greyVeryLight);
  border-radius: 3px;
}

.userName {
  line-height: 4;
  color: var(--grey);
}

.logoutLink {
  line-height: 4;
  text-decoration: none;
  color: var(--blue);
}
